<!-- Blackhead description -->
<section class="hero">
	<div class="container pure-g">
    <div class="left pure-u-1 pure-u-md-1-2">
      <h2>The Blackhead Extractor</h2>
      <p>Experience our premium blackhead extractor to rid your face of unsightly blemishes. It’s surgical grade material and dual loop design promises to be your primary tool for you skin regiment.</p>
      <a href="#" class="button">Learn More</a>
    </div>
    <div class="right pure-u-1 pure-u-md-1-2">
    </div>
	</div>
</section>