<section class="expert">
  <div class="container pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <h2>We Are Skin Care Experts</h2>
      <p>Humanize was started with one idea in mind: provide at home high-end products typically found only in spas. We take pride in our products, and confident you’ll enjoy BLANK.</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
    </div>
  </div>
</section>