<!-- Blackhead description -->
<section class="hero">
	<div class="container pure-g">
    <div class="left pure-u-1 pure-u-md-1-2">
      <div class="wrapper">
        <h2>Dual Angled Loops</h2>
        <p>Blackheads come in different sizes. Our dual angled loops promise to give you the best angle of attack. Use the wider end for larger impurities. The more narrow, flat end is perfect for smaller, more stubborn blemishes.</p>
        <a href="#" class="button">Learn More</a>
      </div>
    </div>
    <div class="loop pure-u-1 pure-u-md-1-2">
    </div>
	</div>
</section>