<!-- Blackhead description -->
<section class="hero">
	<div class="container pure-g">
    <div class="left pure-u-1 pure-u-md-1-2">
      <div class="wrapper">
        <h2>Surgical Grade Material</h2>
        <p>We use high quality steel in our extractor. It promises not to bend when applying pressure, and is rust resistant, allowing for easy and carefree cleanup.</p>
        <a href="#" class="button">Learn More</a>
      </div>
    </div>
    <div class="material pure-u-1 pure-u-md-1-2">
    </div>
	</div>
</section>