// Grays
$black: #000;
$grayDark: #222222;
$gray: #5F5F5F;
$grayLight: #FCFCFC;
$grayLight2: #818181;
$white: #fff;

// Colors
$green: #96DF66;
$darkGreen: #515654;

// Main
$bodyBackground: $white;
$textColor: $gray;
$linkColor: $green;

// Typography
$baseFontFamily: 'Roboto', Helvetica, Arial, sans-serif;

// Grid
$containerWidth: 1280px;
