@import 'variables';
@import 'mixins';

body {
  font-family: $baseFontFamily;
}

div {
  // border: 1px solid red !important;
}

h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 54px;
  text-shadow: 0 1px 4px rgba(0,0,0,.22);
  color: $darkGreen;
  margin: 0 0 16px 0;
}

h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  color: $grayDark;
  margin: 0 0 10px 0;
}

h2.dark {
  color: $white;
}

h3 {
  font-size: 30px;
  line-height: 34px;
  color: #727272;
  font-weight: 400;
  margin: 0 0 10px 0;
}

p, aside {
  font-weight: 300;
  font-size: 22px;
  line-height: 31px;
  color: $grayLight2;
  margin: 0 0 30px 0;;
}

aside {
  margin-bottom: 10px;
}

p.dark {
  color: #DBFAC7;
}

a {
  color: darken( $green, 10% );
}

li {
  list-style: none;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  padding: 17px 80px;
  color: $white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.33px;
  background-color: $green;
  box-shadow: 0 0 4px rgba( 58, 96, 33, 0.25 );
  border-radius: 4px;
}

.button.promo {
  padding: 17px 35px;
}

.button:hover {
  background-color: lighten( $green, 5% );
}

.button.special {
  background-color: #DBFAC7;
  color: #85BF60;
}

.special:hover {
  background-color: darken( #DBFAC7, 5% );
}

.shop {
  background-color: $green;
  box-shadow: 0 6px 14px rgba(125, 145, 112, 0.51);
}

.product {
  text-align: center;
}

.container {
  margin: 0 20px;
}

.left {
  margin-top: 80px !important; //override pure shit
  padding: 20px 0
}

.shop > div > div {
  padding: 80px 0;
}



.blackhead-main > div > div {
  padding: 140px 50px 60px 50px;
  text-align: center;

  .description {
    width: 87%;
    margin: 0 auto;
  }

  img {
    width: 90%;
    margin-bottom: 60px;
  }
  aside.price {
    font-size: 28px;
    font-weight: 400;
    margin: 35px 0 22px 0;

    span {
      display: inline-block;
      margin-right: 20px;
      text-decoration: line-through;
    }
  }
}

.blackhead-description {
  text-align: center;
  padding: 88px 0;
  background-color: #FBFBFB;
  b {
    font-size: 22px;
    line-height: 26px;
    color: #5F5F5F;
    margin-bottom: 8px;
    display: block;
    font-weight: 400;
  }
  p {
    font-size: 18px;
    line-height: 23px;
    color: #909090;
  }
  li {
    margin-bottom: 50px;
  }
}

.blackhead-description > div > div {
  margin-bottom: 20px;
}

.left-description {
  text-align: right;
  margin-top: 80px !important;

}

.right-description {
  text-align: left;
  margin-top: 80px !important;
}

.checkout {
  padding: 80px 0;
  .showcase {
    margin-bottom: 20px;
  }
  .showcase > div {
    margin-top: 30px;
    width: 10%;
    margin: 0 auto;
  }
  .right {
    margin-top: 30px;
  }
}

.rail > div {
  text-align: center;
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(214, 214, 214, 0.43);
  padding-bottom: 27px;

  aside.price {
    font-size: 28px;
    font-weight: 400;
    margin: 35px 0 22px 0;

    span {
      display: inline-block;
      margin-right: 20px;
      text-decoration: line-through;
    }
  }

}

.points {
  line-height: 7px !important;
  margin-left: 22px;
  li {
    list-style-type: disc !important;
    font-size: 18px;
    line-height: 22px;
    color: #818181;
    margin-bottom: 10px;
    font-weight: 300;
  }
}

.purchase {
  margin: 80px 0 400px 0;
}

@media screen and (max-width: 568px) { }

@media screen and (max-width: 768px) {

  h1 {
    font-size: 26px;
    line-height: 32px;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
  }

  h3 {
    font-size: 18px;
    line-height: 22px;
  }

  p, aside {
    font-size: 14px;
    line-height: 18px;
  }

  p.dark {
    font-size: 18px;
  }

  .left {
    margin-top: 30px !important; //override pure shit
    text-align: center;
  }

  .right {
    text-align: center;
    img {
      width: 50%;
    }
  }

  .shop > div > div {
    padding: 35px 0;
  }

  .blackhead-main > div > div {
    padding: 60px 0;

    .description {
      width: 100%;
    }

    img {
      width: 100%;
      margin-bottom: 30px;
    }
    aside.price {
      font-size: 23px;

      // span {
      //   display: inline-block;
      //   margin-right: 20px;
      //   text-decoration: line-through;
      // }
    }
  }

  .blackhead-description {
    padding: 50px 0;
    text-align: left;
    b {
      font-size: 16px;
      line-height: 18px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
    }
    li {
      margin-bottom: 0px;
    }
  }

  .left-description {
    text-align: left;
    margin-top: 16px !important;
  }

  .right-description {
    margin-top: 16px !important;
  }

  .middle {
    text-align: center;
    margin: 0 auto !important;
    img {
      width: 9%;
    }
  }

  .checkout {
    padding: 30px 0;

    .showcase img {
      height: 300px;
    }

  }

  .rail > div {

    aside.price {
      font-size: 23px;
    }
    
  }

  .points {
    li {
      font-size: 15px;
      line-height: 20px;
    }
  }

  nav li.logo span {
    font-size: 12px !important;
  }

  nav li.product {
    margin: 0 0 0 10px !important;
  }

  nav li.buy a {
    padding: 7px 18px !important;
  }

}

// @media screen and (max-width: $containerWidth) { }

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
}

// Pure CSS fixes
.pure-u-1 {
  margin: -2px
}

// Nav
nav, footer {

  position: relative;
  z-index: 10;

  #wrapper {
    width: 100%;
    padding: 14px 0;
    background-color: $grayLight;
    box-shadow: 2px 2px 2px rgba(229, 224, 224, 0.46);

  }

  .container {
    position: relative;
    padding: 9px 0;
  }

  ul {
    @include clearfix();
    display: inline;
    list-style: none;
  }

  li.logo {
    float: left;
    margin: 0;

    span {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 19px;
      letter-spacing: 3px;
      color: $darkGreen;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11);
    }

    span:hover {
      color: lighten( $darkGreen, 20% )
    }

  }

  li {
    float: right;
    margin: 0 0 0 15px;

    a {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.83px;
      color: $darkGreen;
    }

    a:hover {
      color: lighten( $darkGreen, 20% )
    }

  }

  li.buy {
    a {
      // margin: 0 0 0 36px;
      border: 2px solid $green;
      padding: 7px 28px;
      border-radius: 4px;
      background-color: $white;
      text-transform: none;
    }

    a:hover {
      background-color: $green;
      color: $white;
    }
  }
}

footer {

  #wrapper {
    background-color: $white;
    margin-top: 50px;
    box-shadow: none;
  }
  li.logo {
    text-shadow: none;
    opacity: 0.3
  }
}

.copyright {
  font-size: 12px;
  color: lighten( $grayLight2, 10% );
  margin-top: 1px;
}





