<!-- Thank you page -->
<section class="purchase">
  <div class="container">
    <div class="">
      <h2>Your order is complete!</h2>
      <p>Thanks! We’ve processed your order and we’re getting your new Humanize Premium Blackhead Extractor ready to be shipped!</p>
    </div>
  </div>
</section>

<!-- Google Code for Add to cart Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
window.google_trackConversion({
  google_conversion_id: 991950375,
  google_conversion_label: "4kQBCKmMqmoQp-z_2AM",
});
//]]>
</script>