<!-- Thank you page -->
<section class="purchase">
  <div class="container">
    <div class="">
      <h2>Your order is complete!</h2>
      <p>Thanks! We’ve processed your order and we’re getting your new Humanize Premium Blackhead Extractor ready to be shipped!</p>
    </div>
  </div>
</section>

<!-- Google Code for Add to cart Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
// window.google_trackConversion({
//   google_conversion_id: 991950375,
//   google_conversion_label: "4kQBCKmMqmoQp-z_2AM",
// });
//]]>
</script>

<!-- Google Code for Add to cart Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 991950375;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "4kQBCKmMqmoQp-z_2AM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/991950375/?label=4kQBCKmMqmoQp-z_2AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
