<!-- Blackhead hero -->
<section class="blackhead-main">
  <div class="container">
    <div class="">
      <figure>
        <img src="<%= image_url('tool_horizontal.png') %>" alt="Humanize Black Head Extractor Tool" />
      </figure>
      <h1><%= @header %></h1>
      <div class="description">
        <p><%= @description %></p>
      </div>
      <aside>$12.99, includes shipping</aside>
      <a href="<%= checkout_path %>" class="button">Buy Now</a>
    </div>
  </div>
</section>