<section class="blackhead-description">
  <div class="container pure-g">
    <div><h2>The Blackhead Extractor</h2></div>
    <div class="left-description pure-u-1 pure-u-md-2-5">
      <ul>
        <li>
          <b>Surgical grade material</b>
          <p>High quality steel promises not to bend during your daily use</p>
        </li>
        <li>
          <b>Rust resistant</b>
          <p>Our top grade steel is rust resistant, allowing you to clean the extractor without worry</p>
        </li>
      </ul>
    </div>
    <div class="middle pure-u-1 pure-u-md-1-5"><img src="<%= image_url('tool_vertical.png') %>" alt="Humanize Blackhead Extractor" /></div>
    <div class="right-description pure-u-1 pure-u-md-2-5">
      <ul>
        <li>
          <b>Safely extract impurities</b>
          <p>Designed for versatilty to tackle different types of skin blemishes</p>
        </li>
        <li>
          <b>Dual angled loops</b>
          <p>Dual angled loops give you the best angle of attack. Use the wider end for larger impurities. The flat end is perfect for smaller, more stubborn blemishes</p>
        </li>
      </ul>
    </div>
  </div>
</section>