<!-- Blackhead hero -->
<section class="purchase">
  <div class="container">
    <div class="">
      <h2>We're Sold Out :(</h2>
      <p>Thank you for your interest. We're unfortuantely sold out of the Humanize Blackhead Extractor. Feel free to send us <a href="#">an email</a> and we'll notify you as soon as we're back in stock!</p>
    </div>
  </div>
</section>