<section class="checkout">
  <div class="container pure-g">
    <div class="showcase pure-u-1 pure-u-md-1-2">
      <div>
        <img src="<%= image_url('tool_vertical.png') %>" alt="Humanize Blackhead Extractor Tool" />
      </div>
    </div>
    <div class="rail pure-u-1 pure-u-md-1-2">
      <div>
        <h2>Humanize Blackhead Extractor</h2>

        <% if( @promo ) %>
          <aside class="price"><span>$12.99</span>FREE, today only!</aside>
        <% else %>
          <aside class="price"><span>$12.99</span>$4.99</aside>
        <% end %>

        <a href="<%= buy_path %>" class="button">Add to Cart</a>
      </div>
      <p>The Humanize blackhead extractor, a tool similar to what your facialist uses, puts pressure around blackheads, whiteheads, and pimples, releasing your skin’s hold on the blemish. Enjoy clearer skin the moment you begin using it.</p>
      <ul class="points">
        <li>Surgical grade material to handle any desired pressure</li>
        <li>Rust resistant for worry-free cleaning</li>
        <li>Safely extract impurities varying in size on wide ranges of skin types</li>
        <li>Dual angled loops gives you your best angle of attack on your facial blemishes</li>
      </ul>
    </div>
  </div>
</section>