<!-- Nav -->
<footer>
  <div id="wrapper">
    <div class="container">
      <ul class="nav">

        <!-- Logo -->
        <li class="logo">
          <span>Humanize</span>
        </li>

        <!-- Email -->
        <li class="email">
          <a href="mailto:contact@shophumanize.com?subject=My Question for Humanize">Contact Us</a>
        </li>

        <!-- Copyright -->
        <!-- <li class="copyright">Copyright 2016</li> -->


      </ul>
    </div>
  </div>
</footer>