<!-- Nav -->
<nav>
	<div id="wrapper">
		<div class="container">
			<ul class="nav">

				<!-- Logo -->
				<li class="logo">
					<a href="<%= root_path %>"><span>Humanize</span></a>
				</li>

				<!-- Buy -->
				<li class="buy">
					<a href="<%= checkout_path + '?ref=buy_now' %>">Buy Now</a>
				</li>

				<!-- Product -->
				<li class="product">
					<a href="<%= checkout_path %>">Extractor</a>
				</li>


			</ul>
		</div>
	</div>
</nav>