<section class="hero">
	<div class="container pure-g">
    <div class="left pure-u-1 pure-u-md-1-2">
      <div>
        <h1>Professional facial tools. Now at your home</h1>
        <p>Humanize provides high-end quality tools typically used at your local spa. We source from the same providers as your facialist.</p>
        <a href="<%= product_path %>" class="button">Learn More</a>
      </div>
    </div>
    <div class="right pure-u-1 pure-u-md-1-2">
      <img src="<%= image_url('woman2.png') %>" alt="Humanize woman with clear skin" />
    </div>
	</div>
</section>