<section class="blackhead-main">
  <div class="container">
    <div class="">
      <figure>
        <img src="<%= image_url('vertical_with_annotation.png') %>" alt="Humanize Black Head Extractor Tool" />
      </figure>
      <h2>Humanize: Premium Blackhead Extractor - FREE!</h2>
      <span class="sale">Sale</span>
      <aside class="price"><span>$12.99</span>FREE, today only!</aside>
      <a href="<%= checkout_path %>" class="button">Buy Now</a>
      <div class="satisfaction-guaranteed">100% Satisfaction Guaranteed &amp; Easy Checkout</div>
    </div>
  </div>
</section>