<section class="shop product">
  <div class="container">
    <div>
      <h2 class="dark">Get Yours Today</h2>
      <p class="dark">$12.99, includes shipping</p>
      <a href="<%= checkout_path %>" class="button special">Buy Now</a>
    </div>
  </div>
</section>