<section class="shop">
  <div class="container">
    <div>
      <h2 class="dark">Shop at Humanize</h2>
      <p class="dark">Explore our new products. Become part of the Humanize family.</p>
      <a href="<%= product_path %>" class="button special">Shop Now</a>
    </div>
  </div>
</section>